In [2]:
import pandas as pd
import yfinance as yf
import datetime as dt

In [5]:
start_date = "2019-01-01"
end_date = "2022-12-31"

instrument = "USDINR=X"
data = yf.download(instrument, start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [6]:
data

                 Open       High        Low      Close  Adj Close  Volume
Date
2019-01-01  69.709999  69.730003  69.430000  69.709999  69.709999       0
2019-01-02  69.443001  70.233002  69.443001  69.709999  69.709999       0
2019-01-03  69.959999  70.510002  69.959999  69.959999  69.959999       0
2019-01-04  70.100502  70.130302  69.599998  70.300003  70.300003       0
2019-01-07  69.525002  69.919998  69.080002  69.525002  69.525002       0
...               ...        ...        ...        ...        ...     ...
2022-12-26  82.604103  82.877403  81.716797  82.604103  82.604103       0
2022-12-27  82.902901  82.912903  82.629997  82.902901  82.902901       0
2022-12-28  82.776100  82.917999  82.690903  82.776100  82.776100       0
2022-12-29  82.851997  82.901199  82.740997  82.851997  82.851997       0
2022-12-30  82.835098  82.836403  82.554703  82.835098  82.835098       0

[1043 rows x 6 columns]

In [7]:
data.to_csv("extracted/USDINR_2019_2020.csv")